:root {
    --main-bg: #add884;
    --header-bg: #8cbf5f;
    --text-color: #333;
    --nav-link-color: #5a3e36;
    --nav-link-hover: #e9dcd3;
  }
  
  header {
    background-color: var(--header-bg);
    padding: 1.5rem 1rem;
    text-align: center;
  }

  footer a:hover {
    text-decoration: underline;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: var(--nav-link-hover);
  }
  